<!-- templates/budget.html -->

{% extends "base.html" %}

{% block content %}
<html>
  <head>
    <title>Budget Page</title>
    <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{url_for('static', filename='budget.css')}}">
  </head>
  <body>
    <hr>
    <h1>Budget</h1>
    <hr>
    <div>
      <label for="year_selected">Year:</label> 
      <select name="year_selected" id="year_selected" onchange="update_budget_tables()"> 
        <option value="2023">2023</option> 
        <option value="2024">2024</option> 
        <option value="2025">2025</option> 
        <option value="2026">2026</option>
        <option value="2027">2027</option> 
        <option value="2028">2028</option> 
        <option value="2029">2029</option> 
        <option value="2030">2030</option>
      </select>
    </div>
    <div class="wrapper">
      <div>div 1</div>
      <div>div 2</div>
      <div>div 3</div>
      <div>div 4</div>
    </div>
    <div>
      <hr>
      <h1>Income Table</h1>
      <hr>
      <div id="Income"></div>
    </div>
    <div>
      <hr>
      <h1>Expense Table</h1>
      <hr>
      <div id="Expense"></div>
    </div>
    <div>
      <hr>
      <h1>Savings Table</h1>
      <hr>
      <div id="Savings"></div>
    </div>
    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
    <script src="{{url_for('static', filename='budget_grid.js')}}" defer></script>
  </body>
</html>
{% endblock %}