<!-- templates/dashboard.html -->
{% extends "base.html" %}

{% block content %}
<html>
  <head>
    <title>My Dashboard</title>
    <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{url_for('static', filename='dashboard.css')}}">
    <style>
      body {
        font-family: Sans-Serif;
      }
    </style>
  </head>
  <body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.1.1/chart.min.js"></script>
    <hr>
    <h1>Dashboard</h1>
    <div>
      <label for="year_selected">Year:</label> 
      <select name="year_selected" id="year_selected"> 
          <option value="Current Year">Current Year</option> 
          <option value="2023">2023</option> 
          <option value="2024">2024</option> 
          <option value="2025">2025</option> 
          <option value="2026">2026</option>
          <option value="2027">2027</option> 
          <option value="2028">2028</option> 
          <option value="2029">2029</option> 
          <option value="2030">2030</option> 
      </select>
      <label for="month_selected">Month:</label> 
      <select name="month_selected" id="month_selected" onchange="updateChart()">
          <option value="Total Year">Total Year</option> 
          <option value="Current Month">Current Month</option> 
          <option value="1">January</option> 
          <option value="2">February</option> 
          <option value="3">March</option> 
          <option value="4">April</option>
          <option value="5">May</option> 
          <option value="6">June</option> 
          <option value="7">July</option> 
          <option value="8">August</option> 
          <option value="9">September</option> 
          <option value="10">October</option> 
          <option value="11">November</option> 
          <option value="12">December</option>  
      </select>
    </div>
    <hr>
    <div id="DivIncomeDoughnut" class="box">
      Income Doughnut
      <canvas id="IncomeDoughnut" class="doughnut"></canvas>
    </div>
    <div id="DivExpenseDoughnut" class="box">
      Expense Doughnut
      <canvas id="ExpenseDoughnut" class="doughnut"></canvas>
    </div>
    <div id="DivSavingsDoughnut" class="box">
      Savings Doughnut
      <canvas id="SavingsDoughnut" class="doughnut"></canvas>
    </div>
    <div id="DivBarchart" class="box">
      Year Barchart
      <canvas id="BarChart"></canvas>
    </div>
  </body>
</html>

<script>
var chartIncome;
var chartExpense;
var chartSavings;
var chartbar;

function initialSetup(){
  async function initialFetch(){
    const response  = await fetch("/dashboard",   {method:'POST',
                          headers:{"Content-Type":"application/json"},
                          body:JSON.stringify({'year':document.getElementById("year_selected").value,'month':document.getElementById("month_selected").value})});
    console.log(response)
    const data = await response.json();
    return data;
  };
  initialFetch().then(data => {
    var initialData =  data.data;
    const configIncomeDoughnut = {type:'doughnut',
                                  data: {labels : initialData.Doughnut_Income.labels,
                                          datasets : initialData.Doughnut_Income.datasets},
                                          options: {responsive: false}
                                };                             
    chartIncome = new Chart(document.getElementById('IncomeDoughnut').getContext("2d"), configIncomeDoughnut);

    const configExpenseDoughnut = {type:'doughnut',
                                  data: {labels : initialData.Doughnut_Expense.labels,
                                          datasets : initialData.Doughnut_Expense.datasets},
                                  options: {responsive: false}
                                };                     
    chartExpense = new Chart(document.getElementById('ExpenseDoughnut').getContext("2d"), configExpenseDoughnut);

    const configSavingsDoughnut = {type:'doughnut',
                                  data: {labels : initialData.Doughnut_Savings.labels,
                                          datasets : initialData.Doughnut_Savings.datasets},
                                  options: {responsive: false}
                                };                           
    chartSavings = new Chart(document.getElementById('SavingsDoughnut').getContext("2d"), configSavingsDoughnut);

    const configBarChart = {type: 'bar',
                            data: {labels : initialData.BarChart.labels,
                                  datasets : initialData.BarChart.data},
                            options: {responsive: false}
                          };
    console.log(initialData.BarChart)
    chartBar = new Chart(document.getElementById('BarChart').getContext("2d"), configBarChart);
            
  });
  };
  initialSetup()

function updateChart(){
  async function fetchData(){
    const response  = await fetch("/dashboard",   {method:'POST',
                          headers:{"Content-Type":"application/json"},
                          body:JSON.stringify({'year':document.getElementById("year_selected").value,'month':document.getElementById("month_selected").value})});
    console.log(response)
    const data = await response.json();
    return data;
  };
  fetchData().then(data => {
    var dataupdate = data.data;

    chartIncome.data.labels = dataupdate.Doughnut_Income.labels
    chartIncome.data.datasets = dataupdate.Doughnut_Income.datasets
    chartIncome.update();

    chartExpense.data.labels = dataupdate.Doughnut_Expense.labels
    chartExpense.data.datasets = dataupdate.Doughnut_Expense.datasets
    chartExpense.update();

    chartSavings.data.labels = dataupdate.Doughnut_Savings.labels
    chartSavings.data.datasets = dataupdate.Doughnut_Savings.datasets
    chartSavings.update();
  });
};
</script>
{% endblock %}