<!-- templates/budget.html -->
{% extends "base.html" %}
{% block content %}
<html>
  <head>
    <title>Editable Table</title>
    <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
    <style>
      body {
        font-family: Sans-Serif;
      }
    </style>
  </head>
  <body>
    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>

    <div>
    <form action='/transaction/input' method='post' id="transaction_form">
      <fieldset>
      <label for="Date">Date:</label> 
      <input type="date" name ="date" id="date_selected" min="2022-01-01"> 

      <label for="Type">Type:</label>
      <select name="budget_type" id="budget_type_selected" onchange="update_category_list()"> 
        <option value="Type" selected="selected">Type</option> 
        <option value="Income">Income</option> 
        <option value="Expense">Expense</option> 
        <option value="Savings">Savings</option> 
      </select>

      <label for="category_type">Category:</label>
      <select name="category_type" id="category_type_selected">
        <option value="Category" selected="selected">Category</option> 
      </select>
      
    <label for="Amount">Amount:</label>
    <input type="number" placeholder="Amount" required name="amount" min="0" value="0" step=".01">

    <input type="button" value="Submit" id="btnsubmit" onclick="submitform()">
  </fieldset> 
  </form>
      <script src="{{url_for('static', filename='transaction_grid.js')}}" defer></script>
    </div>
    <hr>
    <h1>Transaction Table</h1>
    <div>
      <label for="year_selected">Year:</label> 
      <select name="year_selected" id="year_selected" onchange="update_transaction_tables()"> 
          <option value="Current Year">Current Year</option> 
          <option value="2023">2023</option> 
          <option value="2024">2024</option> 
          <option value="2025">2025</option> 
          <option value="2026">2026</option>
          <option value="2027">2027</option> 
          <option value="2028">2028</option> 
          <option value="2029">2029</option> 
          <option value="2030">2030</option> 
      </select>
      <label for="month_selected">Month:</label> 
      <select name="month_selected" id="month_selected" onchange="update_transaction_tables()"> 
          <option value="Total Year">Total Year</option> 
          <option value="Current Month">Current Month</option> 
          <option value="1">January</option> 
          <option value="2">February</option> 
          <option value="3">March</option> 
          <option value="4">April</option>
          <option value="5">May</option> 
          <option value="6">June</option> 
          <option value="7">July</option> 
          <option value="8">August</option> 
          <option value="9">September</option> 
          <option value="10">October</option> 
          <option value="11">November</option> 
          <option value="12">December</option>  
      </select>
    </div>
    <div>
      <hr>
      <div id="Transaction"></div>
    </div>
  </body>
</html>
{% endblock %}